@import "/src/assets/styles/resource/index.scss";

.layout-component {
  $header-height: 90px;
  $footer-height: 194px;

  width: 100%;
  margin-top: $header-height;

  > .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: $header-height;
    padding-right: 32px;
    padding-left: 32px;
    background-color: $black;

    > .logo {
      width: 68px;
      height: 51px;
    }

    > .menu {
      margin-left: auto;
    }
  }

  > .body {
    width: 100%;
    min-height: calc(100vh - $header-height - $footer-height);
  }

  > .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: $footer-height;
    background-color: $black;

    > .text {
      font-size: 12px;
      color: $white-06;
      text-decoration: none;
    }

    > .copyright {
      font-size: 12px;
      font-weight: bold;
      color: $white-06;
    }
  }
}

@include media-query-sp {
  .layout-component {
    $header-height: 69px;
    $footer-height: 121px;

    margin-top: $header-height;

    > .header {
      height: $header-height;
      padding: 0 16px;

      > .logo {
        width: 58px;
        height: 44px;
      }
    }

    > .body {
      min-height: calc(100vh - $header-height - $footer-height);
    }

    > .footer {
      height: $footer-height;
    }
  }
}

.menu-component {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 26px;

  > .divider {
    width: 2px;
    height: 18px;
    background-color: $white;
  }
}

@include media-query-sp {
  .menu-component {
    gap: 16px;

    > .divider {
      width: 1px;
      height: 20px;
    }
  }
}

.text-link {
  padding: 2px 4px 8px;
  font-size: 16px;
  font-weight: bold;
  color: $white;
  cursor: pointer;

  &:hover {
    border-bottom: solid 2px $white;
  }
}

@include media-query-sp {
  .text-link {
    padding: 4px;
    font-size: 14px;
  }
}
