.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.message-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 680px;
  background-color: #3f3f3f;
  border-radius: 8px;
  padding: 12px;
  color: white;
  font-size: 18px;

  > img {
    margin: 0 auto;
  }
}
